.carousel-container {
  display: block;
  width: 60%; /* Chiếm 60% chiều rộng giữa hai sidebar */
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto; /* Căn giữa carousel */
}

.carousel .carousel .slide {
  padding: 0; /* Xóa padding cho các slide */
}

.carousel .carousel .slider {
  margin: 0; /* Xóa margin cho slider */
}

/* Ẩn nút điều hướng */
.carousel .control-arrow {
  display: none; /* Ẩn nút điều hướng trái và phải */
}

.carousel .status {
  display: none; /* Ẩn phần tử status */
}


@media (max-width: 768px) {
  .carousel-container {
    width: 100%; /* Đảm bảo carousel chiếm toàn bộ chiều rộng trên màn hình nhỏ */
  }
}