.phone-contact {
    position: fixed;
    text-align: end;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    60% { transform: rotate(-15deg); }
    70% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: 768px) {
    .shake {
        animation: shake 0.8s ease infinite;
        animation-delay: 2s;
    }
}

.phone-icon {
    position: fixed;
    bottom: 200px; /* Điều chỉnh vị trí nếu cần */
    right: 30px;
    display: flex;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.phone-image {
    width: 45px; /* Kích thước của icon điện thoại */
    height: 50px;
}

.phone-text {
    display: none; /* Ẩn văn bản mặc định */
    color: #007aff; /* Màu sắc cho văn bản */
    font-weight: bold;
    margin-top: 5px;
}

@media (min-width: 769px) {
    .phone-contact {
        display: none; /* Hiện văn bản trên màn hình lớn */
    }
}