.side-container {
  display: flex; /* Sử dụng Flexbox cho container */
  justify-content: space-between; /* Căn giữa các phần tử trong container */
  align-items: stretch;
  align-items: flex-start; /* Căn chỉnh các sidebar và carousel ở đầu */
  margin-top: 20px; /* Khoảng cách trên */
  margin-bottom: 20px; /* Khoảng cách dưới */
}

.left-sidebar, .right-sidebar {
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  gap: 20px; /* Khoảng cách giữa các thẻ */
  width: 20%; /* Chiếm 20% chiều rộng */
  height: auto;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.carousel-container {
  width: 60%; /* Chiếm 60% chiều rộng giữa hai sidebar */
  height: 100%;
  margin: 0 auto; /* Không cần margin để căn giữa */
  transform: translateX(-5px);
}

.custom-sidebar {
  font-weight: 500;
  justify-content: center;
  background-color: #f0f0f0; /* Màu nền cho các thẻ */
  padding: 15px; /* Khoảng cách bên trong */
  height: 60px;
  border: 3px solid #050303; /* Đường viền cho các thẻ */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho các thẻ */
}

.custom-button-sidebar {
  display: inline-block;
  padding: 10px 20px; /* Điều chỉnh kích thước nút */
  background-color: #de5207; /* Màu nền */
  color: white; /* Màu chữ */
  text-align: center;
  text-decoration: none; /* Bỏ gạch chân */
  border-radius: 5px; /* Bo góc */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.custom-button-sidebar:hover {
  background-color: #ba4404; /* Màu nền khi hover */
  text-decoration: none;
}

/* Media query để ẩn sidebar trên màn hình nhỏ */
@media (max-width: 800px) {
  .left-sidebar, .right-sidebar {
    display: none; /* Ẩn sidebar khi chiều rộng nhỏ hơn 768px */
  }
}