.teacher-list {
  width: 100%; /* Chiếm 100% chiều rộng */
  background-color: #f0f4f8; /* Màu nền nhẹ */
  border-right: 1px solid #ddd; /* Đường viền bên phải */
}

.teacherlisttitle-container {
  background-color: #de5207; /* Nền cho tiêu đề */
  padding: 1px; /* Khoảng cách bên trong */
  border-radius: 5px; /* Bo góc cho nền tiêu đề */
  margin-bottom: 10px; /*Khoảng cách giữa tiêu đề và danh sách */
}

.teacher-list h2 {
  font-size: 1.5rem; /* Kích thước tiêu đề */
  margin-top: 5px; /*Bỏ margin trên tiêu đề */
  margin-bottom: 5px;
  color: #dce1e6; /* Màu chữ tiêu đề */
  text-align: center; /* Căn giữa tiêu đề */
}

.teacher-list ul {
  list-style: none; /* Bỏ dấu chấm mặc định */
  padding: 0; /* Bỏ padding mặc định */
}

.teacher-list li {
  text-decoration: none; /* Bỏ gạch chân */
  padding: 10px; /* Khoảng cách bên trong mỗi mục */
  cursor: pointer; /* Thay đổi con trỏ khi hover */
  display: flex; /* Sử dụng flexbox để căn chỉnh */
  align-items: center; /* Căn giữa theo chiều dọc */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển động cho nền */
}

.teacher-list li:hover {
  background-color: #e9ecef; /* Màu nền khi hover */
}

.teacher-list li .bullet {
  width: 10px; /* Kích thước của dấu chấm */
  height: 10px; /* Kích thước của dấu chấm */
  background-color: red; /* Màu đỏ cho dấu chấm */
  border-radius: 50%; /* Bo tròn cho dấu chấm */
  margin-left: 20px; /* Khoảng cách bên trái dấu chấm */
  margin-right: 10px; /* Khoảng cách bên phải dấu chấm */
}



.teacher-list li a:hover {
  text-decoration: none; /* Đảm bảo không có gạch chân khi hover */
  color: #007bff; /* Màu chữ khi hover */
  font-weight: bold; /* In đậm khi hover */
}